.btn {
  height: auto;
  font-weight: 700;

  [data-font="3"] & {
    font-weight: 500;
  }

  &:not(.btn-small) {
    padding: 10px 2rem;
  }
}

a.btn {
  color: $color-white;
}

button:hover,
a.btn:hover {
  cursor: pointer;
}

@for $n from 1 through length($themes-list) {
  [data-color="#{nth($themes-list, $n)}"] {
    .btn-primary {
      background: nth($color-primary-list, $n);

      &:hover, &:active, &:focus {
        background: darken(nth($color-primary-list, $n), 15%);
      }

      &:focus {
        box-shadow: 0 0 0 0.2rem transparentize(nth($color-primary-list, $n), 0.5);
      }
    }

    .btn-secondary {
      background: nth($color-secondary-list, $n);

      &:hover, &:active, &:focus {
        background: darken(nth($color-secondary-list, $n), 15%);
      }

      &:focus {
        box-shadow: 0 0 0 0.2rem transparentize(nth($color-primary-list, $n), 0.5);
      }
    }

    .btn-tertiary {
      background: nth($color-tertiary-list, $n);
      color: $color-black;

      &:hover, &:active, &:focus {
        background: darken(nth($color-tertiary-list, $n), 15%);
      }

      &:focus {
        box-shadow: 0 0 0 0.2rem transparentize(nth($color-primary-list, $n), 0.5);
      }
    }
  }
}

.fl-builder-content.fl-builder-content a.fl-button.fl-button {
  @extend .btn;
  @extend .btn-primary;

  border: none;
  font-size: 1em;

  span {
    color: inherit;
  }
}

.gform_button {
  @extend .btn;
  @extend .btn-primary;
}

// Menu toggle
.btn-menu-toggle {
  display: flex;
  align-items: center;
  justify-content: center;
  border-width: 1px;
  border-style: solid;
  font-size: 1.25rem;
  margin-right: 0.5rem;
  margin-left: auto;
  background-color: transparent;
  padding: 0.6rem 0.75rem;
  color: black;
  border-color: currentColor;

  [data-text-color=light] & {
    color: white;
  }

  > i {
    font-size: inherit;
  }
}
